<span class="process-status">
    <span class="QUEUED" role="img" title="Queued" v-if="data.status === 'QUEUED'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation" >
        <path d="M0 8a7.77 7.77 0 01.637-3.105 8.039 8.039 0 011.707-2.55A8.047 8.047 0 014.894.637 7.785 7.785 0 018 0a7.77 7.77 0 013.105.637 8.039 8.039 0 012.55 1.707 8.047 8.047 0 011.708 2.55C15.788 5.883 16 6.918 16 8a7.77 7.77 0 01-.637 3.105 8.039 8.039 0 01-1.707 2.55 8.047 8.047 0 01-2.55 1.708A7.785 7.785 0 018 16a7.77 7.77 0 01-3.105-.637 8.039 8.039 0 01-2.55-1.707 8.047 8.047 0 01-1.708-2.55A7.785 7.785 0 010 8zm12.39 1.396a4.68 4.68 0 00-1.144-4.74 4.681 4.681 0 00-4.74-1.143l.61 1.904a2.676 2.676 0 013.369 3.37l1.905.61zm-3.702 1.187a2.677 2.677 0 01-2.715-.653 2.678 2.678 0 01-.653-2.715l-1.905-.61a4.68 4.68 0 001.144 4.74 4.677 4.677 0 004.738 1.143l-.61-1.905z"
              fill-rule="evenodd"></path>
        </svg>
    </span>
    <span class="STARTED" role="img" title="Running" v-if="data.status === 'STARTED'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation" class="rotate">
        <path d="M0 8a7.77 7.77 0 01.637-3.105 8.039 8.039 0 011.707-2.55A8.047 8.047 0 014.894.637 7.785 7.785 0 018 0a7.77 7.77 0 013.105.637 8.039 8.039 0 012.55 1.707 8.047 8.047 0 011.708 2.55C15.788 5.883 16 6.918 16 8a7.77 7.77 0 01-.637 3.105 8.039 8.039 0 01-1.707 2.55 8.047 8.047 0 01-2.55 1.708A7.785 7.785 0 018 16a7.77 7.77 0 01-3.105-.637 8.039 8.039 0 01-2.55-1.707 8.047 8.047 0 01-1.708-2.55A7.785 7.785 0 010 8zm12.39 1.396a4.68 4.68 0 00-1.144-4.74 4.681 4.681 0 00-4.74-1.143l.61 1.904a2.676 2.676 0 013.369 3.37l1.905.61zm-3.702 1.187a2.677 2.677 0 01-2.715-.653 2.678 2.678 0 01-.653-2.715l-1.905-.61a4.68 4.68 0 001.144 4.74 4.677 4.677 0 004.738 1.143l-.61-1.905z"
              fill-rule="evenodd"></path>
        </svg>
    </span>
    <span class="ENDED" role="img" title="Ended" v-if="data.status === 'ENDED'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation" >
        <path d="M0 8a7.77 7.77 0 01.637-3.105 8.039 8.039 0 011.707-2.55A8.047 8.047 0 014.894.637 7.785 7.785 0 018 0a7.77 7.77 0 013.105.637 8.039 8.039 0 012.55 1.707 8.047 8.047 0 011.708 2.55C15.788 5.883 16 6.918 16 8a7.77 7.77 0 01-.637 3.105 8.039 8.039 0 01-1.707 2.55 8.047 8.047 0 01-2.55 1.708A7.785 7.785 0 018 16a7.77 7.77 0 01-3.105-.637 8.039 8.039 0 01-2.55-1.707 8.047 8.047 0 01-1.708-2.55A7.785 7.785 0 010 8zm12.39 1.396a4.68 4.68 0 00-1.144-4.74 4.681 4.681 0 00-4.74-1.143l.61 1.904a2.676 2.676 0 013.369 3.37l1.905.61zm-3.702 1.187a2.677 2.677 0 01-2.715-.653 2.678 2.678 0 01-.653-2.715l-1.905-.61a4.68 4.68 0 001.144 4.74 4.677 4.677 0 004.738 1.143l-.61-1.905z"
              fill-rule="evenodd"></path>
        </svg>
    </span>
    <span class="COMPLETED" role="img" title="Successful" v-if="data.status === 'COMPLETED'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation">
            <path d="M11.922 6.375l-4.328 4.36c-.188.145-.37.218-.547.218h-.375a.791.791 0 01-.297-.062.708.708 0 01-.25-.156L4.078 8.672A.342.342 0 014 8.445c0-.088.026-.164.078-.226l.813-.798a.257.257 0 01.22-.11c.093 0 .17.037.234.11L6.64 8.72a.32.32 0 00.227.093.314.314 0 00.227-.094l3.562-3.595a.41.41 0 01.243-.078c.086 0 .157.026.21.078l.812.797a.408.408 0 01.078.242c0 .09-.026.16-.078.21M15.367 4.9a8.039 8.039 0 00-1.703-2.546A8.098 8.098 0 0011.11.644 7.709 7.709 0 008 0C6.916 0 5.883.21 4.9.633a8.025 8.025 0 00-2.548 1.703A8.087 8.087 0 00.642 4.89 7.693 7.693 0 000 8c0 1.083.21 2.117.633 3.102.422.984.99 1.833 1.703 2.546a8.08 8.08 0 002.555 1.71c.99.428 2.026.642 3.11.642 1.083 0 2.117-.21 3.102-.633a8.055 8.055 0 002.547-1.703 8.182 8.182 0 001.71-2.555 7.79 7.79 0 00.64-3.11c0-1.083-.21-2.117-.633-3.102"
                  fill-rule="evenodd">
            </path>
        </svg>
    </span>
    <span class="WARNING" role="img" title="Warning" v-if="data.status === 'WARNING'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation">
            <path d="M7 9h2V4H7v5zm0 3h2v-2H7v2zm8.367-7.102a8.039 8.039 0 00-1.703-2.546 8.103 8.103 0 00-2.555-1.71A7.736 7.736 0 008 0C6.917 0 5.882.21 4.898.633a8.055 8.055 0 00-2.547 1.703A8.14 8.14 0 00.64 4.89 7.776 7.776 0 000 8c0 1.083.21 2.117.632 3.102.422.984.99 1.833 1.703 2.546a8.103 8.103 0 002.555 1.71C5.88 15.786 6.917 16 8 16c1.083 0 2.117-.21 3.1-.633a8.048 8.048 0 002.548-1.703 8.08 8.08 0 001.71-2.555c.428-.99.642-2.027.642-3.11 0-1.083-.21-2.117-.633-3.102z"
                  fill-rule="evenodd">
            </path>
        </svg>
    </span>
    <span class="ERROR" role="img" title="Failed" v-if="data.status === 'ERROR'">
        <svg width="16" height="16" viewBox="0 0 16 16" focusable="false" role="presentation">
            <path d="M7 9h2V4H7v5zm0 3h2v-2H7v2zm8.367-7.102a8.039 8.039 0 00-1.703-2.546 8.103 8.103 0 00-2.555-1.71A7.736 7.736 0 008 0C6.917 0 5.882.21 4.898.633a8.055 8.055 0 00-2.547 1.703A8.14 8.14 0 00.64 4.89 7.776 7.776 0 000 8c0 1.083.21 2.117.632 3.102.422.984.99 1.833 1.703 2.546a8.103 8.103 0 002.555 1.71C5.88 15.786 6.917 16 8 16c1.083 0 2.117-.21 3.1-.633a8.048 8.048 0 002.548-1.703 8.08 8.08 0 001.71-2.555c.428-.99.642-2.027.642-3.11 0-1.083-.21-2.117-.633-3.102z"
                  fill-rule="evenodd">
            </path>
        </svg>
    </span>
</span>
