.process-status {
  .QUEUED {
    path {
      fill: #6c757d !important;
    }
  }
  .STARTED {
    path {
      fill: #007bff !important;
    }
  }
  .ENDED {
    path {
      fill: #17a2b8 !important;
    }
  }
  .COMPLETED {
    path {
      fill: #28a745 !important;
    }
  }
  .WARNING {
    path {
      fill: #ffc107 !important;
    }
  }
  .ERROR {
    path {
      fill: #dc3545 !important;
    }
  }
}
