<div class="gateway-component">
    <div class="col-md-4">
        <section v-for="group in templateGroups">
            <h3>{{ group.name }}</h3>
            <component v-bind:is="componentType(property.type)" v-for="property in group.properties"
                       :key="property.label"
                       :data="property"></component>
        </section>
        <div class="btn-container">
            <button class="btn btn-secondary" @click="forwardBack()">Cancel</button>
            <button :disabled="!isValidForm()" class="btn btn-primary" type="submit" @click="startProcess()">Start
                Process
            </button>
        </div>
    </div>
</div>
