.process-definition {

  table {

    .index {
      width: 60px;
    }

    .name {
      width: 300px;
    }

    .version {
      width: 60px;
    }

    .action {
      width: 100px;
      cursor: pointer;
    }

    .timestamp {
      width: 200px;
    }
  }
}
