<div class="table-responsive process-definition">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="index" scope="col">#</th>
            <th class="name" scope="col">Name</th>
            <th class="description" scope="col">Description</th>
            <th class="timestamp" scope="col">Deploy Time</th>
            <th class="version" scope="col">Version</th>
            <th class="action" scope="col">&nbsp;</th>
            <th class="action" scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(it, index) in entries" @dblclick="startProcess(it)">
            <th scope="row">{{ index + 1  }}</th>
            <td>{{ it.displayName }}</td>
            <td>{{ it.description }}</td>
            <td>{{ it.deployTime | date }}</td>
            <td>{{ it.majorVersion }}.{{ it.definitionVersion }}</td>
            <td class="action"><i class="far fa-eye"></i> View</td>
            <td class="action" @click="startProcess(it)"><i class="far fa-play-circle"></i> Start</td>
        </tr>
        </tbody>
    </table>
</div>
