<div class="table-responsive process-instance">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="index" scope="col">#</th>
            <th class="status" scope="col">Status</th>
            <th class="name" scope="col">Name</th>
            <th class="description" scope="col">{{'label.description' | translate }}</th>
            <th class="timestamp" scope="col">Start Time</th>
            <th class="timestamp" scope="col">End Time</th>
            <th class="duration" scope="col">Duration</th>
            <th class="action" scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(it, index) in entries" @click="selectReport(it)" :class="{'table-primary': isSelected(it) }">
            <th scope="row">{{ index + 1  }}</th>
            <td><ProcessStatus :data="{ status: it.processStatus === 'ENDED' ? 'COMPLETED' : it.processStatus }" /></td>
            <td>{{ it.activityName }}</td>
            <td>{{ it.description }}</td>
            <td>{{ it.reportStartTime | date }}</td>
            <td>{{ it.reportEndTime  | date }}</td>
            <td>{{ it.duration | duration }}</td>
            <td class="action"><i class="fas fa-list"></i> Details</td>
        </tr>
        </tbody>
    </table>
</div>
