.process-report {

  table {

    .status,
    .index {
      width: 40px;
    }

    .name {
      width: 300px;
    }

    .version {
      width: 60px;
    }

    .action {
      width: 100px;
      cursor: pointer;
    }

    .duration,
    .timestamp {
      width: 200px;
    }
  }
}
