<section class="w-100">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">process:flow</a>
        <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a v-if='authState.isAuthenticated' class="nav-link" href="#" @click="logout">
                    Sign out.
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                <a v-else class="nav-link" href="#" @click="login">
                    Sign in.
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <router-link class="nav-link active" to="/">
                                <i class="fas fa-chalkboard"></i>
                                Dashboard
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/definition">
                                <i class="fas fa-cogs"></i>
                                Process Definitions
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/instance">
                                <i class="fas fa-cogs"></i>
                                Process Instances
                            </router-link>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-file"></i>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-file"></i>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-file"></i>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-file"></i>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
                <router-view/>
            </main>
        </div>
    </div>
    <div style="position: absolute; top: 70px; right: 20px;">
        <div v-for="it of notifications" aria-atomic="true" aria-live="assertive" class="toast fade show" role="alert">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded mr-2" focusable="false" height="20"
                     preserveAspectRatio="xMidYMid slice"
                     role="img" width="20" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="#007aff" height="100%" width="100%"></rect>
                </svg>
                <strong class="mr-auto">{{ it.title }}</strong>&nbsp;<small class="text-muted"> just now</small>
                <button aria-label="Close" class="ml-2 mb-1 close" data-dismiss="toast" type="button"
                        @click="removeNotification(it)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ it.description }}
            </div>
        </div>
    </div>
</section>
