<div :key="data.id" class="form-group string-template">
    <label :for="data.name">{{data.label}}</label>
    <input :id="data.id" v-model="data.value" aria-describedby="emailHelp" class="form-control" type="text">
    <small id="emailHelp" class="form-text text-muted"><i class="fas fa-info-circle"></i> {{data.description}}</small>
</div>
