<div class="table-responsive process-instance">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="index" scope="col">#</th>
            <th class="status" scope="col">Status</th>
            <th class="name" scope="col">Name</th>
            <th class="description" scope="col">Description</th>
            <th class="timestamp" scope="col">Reference Id</th>
            <th class="timestamp" scope="col">Reference Type</th>
            <th class="timestamp" scope="col">Started From</th>
            <th class="timestamp" scope="col">Start Time</th>
            <th class="timestamp" scope="col">End Time</th>
            <th class="duration" scope="col">Duration</th>
            <th class="action" scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(it, index) in entries" @dblclick="viewProcess(it)">
            <th scope="row">{{ index + 1  }}</th>
            <td><ProcessStatus :data="{ status: it.instanceStatus }" /></td>
            <td>{{ it.instanceName }}</td>
            <td>{{ it.instanceDescription }}</td>
            <td>{{ it.referenceId }}</td>
            <td>{{ it.referenceType }}</td>
            <td>{{ it.starterId }}</td>
            <td>{{ it.instanceStartTime | date }}</td>
            <td>{{ it.instanceEndTime  | date }}</td>
            <td>{{ it.duration | duration }}</td>
            <td class="action" @click="viewProcess(it)"><i class="fas fa-list"></i> Details</td>
        </tr>
        </tbody>
    </table>
</div>
