.process-diagram {

  width: 100%;
  height: 100%;

  .custom-switch {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .diagram-container {
    width: 100%;
    height: 500px;
    margin-top: 2.5rem;
    padding: 0 !important;
  }
}