<section class="w-100">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom definition">
        <h1 class="h2">Process Start</h1>
    </div>
    <Gateway />
</section>
