<div :key="data.id" class="form-group dropdown-template">
    <label :for="data.name">{{ data.label }}</label>
    <select :id="data.id" v-model="data.value" aria-describedby="emailHelp" class="form-control">
        <option v-for="choice in data.choices" :selected="choice.value === data.value">{{ choice.name }}</option>
    </select>
    <small class="form-text text-muted"><i class="fas fa-info-circle"></i> {{ data.description }}</small>
</div>
